<!DOCTYPE html>
<html>
<body>
<h1>Unit 2: Researched Argument</h1>

<p>In Advanced Writing unit 2, students explored research within their field of study to write an argumentative research paper. Students formulated research questions and performed extensive research before the drafting process began, resulting in technical papers that used advanced research as evidence to the central argument. This paper was significantly longer than the other units and as such touched upon numerous learning goals.</p>

<p>Because of the unit’s heavy focus on research, the learning goals centered around properly utilizing and citing sources were all applicable. This includes the following goals:</p>

<p>5. Students generate and pursue lines of inquiry and search, collect, and select, sources appropriate to their writing projects.</p>

<p>6. Students effectively use and appropriately cite sources in their writing.</p>

<p>7. Students use multiple forms of evidence to support their claims, ideas, and arguments.</p>

<p>9. Students practice critical reading strategies.</p>

<p>Additionally, the goals incorporating learning and stance articulation were integral to unit 2. This applies to the following two goals:</p>

<p>1. Students write both to learn and to communicate what they learn.</p>

<p>3. Students formulate and articulate a stance through and in their writing.</p>

<p>The goals based on the writing, revision, reflection process were important as always. The three goals below fall under this category:</p>

<p>4. Students revise their writing using responses from others, including peers, consultants, and teachers.</p>

<p>10. Students provide revision-based response to their peers.</p>

<p>11. Students reflect on their writing processes and self-assess as writers.</p>

<p>Overall, unit 2 served as an opportunity for students to investigate topics that interest them while growing as a technical writer.</p>


</body>
</html>
