<html>
<body>
<h1>Unit 1: Initial Encounter</h1>

<p class="lead">Unit 1 was an engaging unit, and an appropriate introduction to the course. It exposed us to the various genres, topics, and lessons we would encounter as students in Advanced Writing.</p>

<p class="lead">We began by defining discourse: why do people write and produce content? The answer was the "call to write." As a class, we explored calls to write amongst ourselves and the world of literature, learning to understand an author's context, motivations and biases. Armed with an analytical framework through we could perceive the content of our peers, we were ready to begin contributing to the world of the written word.</p>

<p class="lead">Our assignment to show understand of this unit was to find a discourse community relevant to our major, analyse pieces from this community, and discuss the context of each piece. Why did the author write this, their call to write? What were their main points and what techniques did they employ to communicate them? Who were they writing to, and how well did they do it? By answering this questions, we prepared ourselves for our own contributions to these fields in due time.</p>

<p class="lead">Furthermore, we were encouraged to draw conclusions about the communities as a whole, musing on the language the community uses, the formats most often employed in this community, traits of the organisations involved in the community, and any other trends that could be detected about the environment we found our pieces in. Part of this analysis included familiarising ourselves with citation styles used by our peers and employing them in our paper. This portion of the unit was a great exercise in learning to write in a way that your peers will find engaging and familiar, preparing one for a fruitful career in research if they so chose.</p>
</body>
</html>
