[Unit]
Description=Learning Goals

[Service]
Type=simple
User=learn
Group=learn
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4799"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/learn/learning-goals
ExecStart=/home/learn/learning-goals/start.sh

[Install]
WantedBy=multi-user.target
