<h1>Unit 3: Writing for a Public Audience</h1>
<p>In Unit 3, students tailored their writing to a public audience. The genre of this piece of writing may have been an op-ed, campaign, research translation, or explainer article. Regardless of the chosen genre, the writing needed to be jargon-free and reader friendly to properly appeal to the public audience. </p>
<p>Unit 3 had an emphasis on learning goal 2: “Students negotiate their own writing goals and audience expectations regarding conventions of genre, medium, and situation.” Because of the public audience, careful thought and consideration had to be put into the genre of writing. The informal nature of this unit also allowed learning goal 7 to be explored, which states “Students explore and represent their experiences, perspectives, and ideas in conversation with others.” </p>
<p>The following three goals apply to the general writing processes and were present in unit 3 as well. </p>
<p>4. Students revise their writing using responses from others, including peers, consultants, and
teachers. </p>
<p>10. Students provide revision-based response to their peers. </p>
<p>11. Students reflect on their writing processes and self-assess as writers</p>
<p>Unit 3 was a unique unit that allowed the personality and voice of the writer to shine throughout the writing. Writing for a public audience taught students how to sacrifice technical details to boost clarity and readability.</p>
